{% extends "base.html.twig" %}

{% block title   %}presverance {% endblock %}
{% block body %}
<h1>i'm gonna be a great software enginner in berlin in 3 years </h1>

<a href="https://www.google.tn" >hardwork</a>
<br>
<img src="{{asset('images/mg.jpg')}}" >
{% for hero in heroes %}
<li> {{ hero }}


{% endfor %}


{% endblock %}